AIApp/pkgs/Wadl/FastConnector2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://uk-001.azure-apim.net/apim/fastconnector2-5f905e490d5e3e8483-5f0946db7d93a6fa3e" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FastConnector2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FastConnector2"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://uk-001.azure-apim.net/apim/fastconnector2-5f905e490d5e3e8483-5f0946db7d93a6fa3e" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <number name="GpsAll_responses_default_def_items_def_latitude_def" />
      <number name="GpsAll_responses_default_def_items_def_longitude_def" />
      <integer name="GpsAll_responses_default_def_items_def_altitude_def" />
      <integer name="GpsAll_responses_default_def_items_def_date_def" />
      <integer name="GpsAll_responses_default_def_items_def_time_def" />
      <object name="GpsAll_responses_default_def_items_def">
        <property name="latitude" type="number" />
        <property name="longitude" type="number" />
        <property name="altitude" type="integer" />
        <property name="date" type="integer" />
        <property name="time" type="integer" />
      </object>
      <array typeRef="GpsAll_responses_default_def_items_def" name="GpsAll_responses_default_def" />
      <string name="PpeAll_responses_default_def_items_def_detections_def_items_def_label_def" />
      <number name="PpeAll_responses_default_def_items_def_detections_def_items_def_confidence_def" />
      <integer name="PpeAll_responses_default_def_items_def_detections_def_items_def_box_def_items_def" />
      <array type="integer" name="PpeAll_responses_default_def_items_def_detections_def_items_def_box_def" />
      <object name="PpeAll_responses_default_def_items_def_detections_def_items_def">
        <property name="label" type="string" />
        <property name="confidence" type="number" />
        <property name="box" typeRef="PpeAll_responses_default_def_items_def_detections_def_items_def_box_def" />
      </object>
      <array typeRef="PpeAll_responses_default_def_items_def_detections_def_items_def" name="PpeAll_responses_default_def_items_def_detections_def" />
      <number name="PpeAll_responses_default_def_items_def_inference_time_def" />
      <string name="PpeAll_responses_default_def_items_def_date_def" />
      <string name="PpeAll_responses_default_def_items_def_time_def" />
      <object name="PpeAll_responses_default_def_items_def">
        <property name="detections" typeRef="PpeAll_responses_default_def_items_def_detections_def" />
        <property name="inference_time" type="number" />
        <property name="date" type="string" />
        <property name="time" type="string" />
      </object>
      <array typeRef="PpeAll_responses_default_def_items_def" name="PpeAll_responses_default_def" />
      <number name="Gps_responses_default_def_items_def_latitude_def" />
      <number name="Gps_responses_default_def_items_def_longitude_def" />
      <integer name="Gps_responses_default_def_items_def_altitude_def" />
      <integer name="Gps_responses_default_def_items_def_date_def" />
      <integer name="Gps_responses_default_def_items_def_time_def" />
      <object name="Gps_responses_default_def_items_def">
        <property name="latitude" type="number" />
        <property name="longitude" type="number" />
        <property name="altitude" type="integer" />
        <property name="date" type="integer" />
        <property name="time" type="integer" />
      </object>
      <array typeRef="Gps_responses_default_def_items_def" name="Gps_responses_default_def" />
      <string name="Ppe_responses_default_def_items_def_detections_def_items_def_label_def" />
      <number name="Ppe_responses_default_def_items_def_detections_def_items_def_confidence_def" />
      <integer name="Ppe_responses_default_def_items_def_detections_def_items_def_box_def_items_def" />
      <array type="integer" name="Ppe_responses_default_def_items_def_detections_def_items_def_box_def" />
      <object name="Ppe_responses_default_def_items_def_detections_def_items_def">
        <property name="label" type="string" />
        <property name="confidence" type="number" />
        <property name="box" typeRef="Ppe_responses_default_def_items_def_detections_def_items_def_box_def" />
      </object>
      <array typeRef="Ppe_responses_default_def_items_def_detections_def_items_def" name="Ppe_responses_default_def_items_def_detections_def" />
      <number name="Ppe_responses_default_def_items_def_inference_time_def" />
      <string name="Ppe_responses_default_def_items_def_date_def" />
      <string name="Ppe_responses_default_def_items_def_time_def" />
      <object name="Ppe_responses_default_def_items_def">
        <property name="detections" typeRef="Ppe_responses_default_def_items_def_detections_def" />
        <property name="inference_time" type="number" />
        <property name="date" type="string" />
        <property name="time" type="string" />
      </object>
      <array typeRef="Ppe_responses_default_def_items_def" name="Ppe_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://uk-001.azure-apim.net/apim/fastconnector2-5f905e490d5e3e8483-5f0946db7d93a6fa3e">
    <resource path="/{connectionId}/latest_gps_predictions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GpsAll" actionName="GpsAll" siena:isDeprecated="false">
        <doc title="GpsAll&#xA;GpsAll" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:GpsAll_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/latest_predictions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="PpeAll" actionName="PpeAll" siena:isDeprecated="false">
        <doc title="PpeAll&#xA;PpeAll" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:PpeAll_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/all_gps_predictions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Gps" actionName="Gps" siena:isDeprecated="false">
        <doc title="Gps&#xA;Gps" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:Gps_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/all_predictions">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Ppe" actionName="Ppe" siena:isDeprecated="false">
        <doc title="Ppe&#xA;Ppe" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:Ppe_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_fastconnector2-5f905e490d5e3e8483-5f0946db7d93a6fa3e" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>